<article class="article">
  <h3>
    <a href="{{ path('article_detail', {id: article.id}) }}">
      {{ article.title|withHeaderImage(400) }}
    </a>
  </h3>
  <div>{{ article.body }}</div>
  <div>{{ charCount(article.body) }}</div>
</article>
